@import "../../Style/break.scss";

.header {
  width: 100%;


  @media #{$phone} {
    position: relative;
    padding: 20px 0 50px;
  }

  .header_top_wrapper {
    background: #f5f5f5;

    .header_top {
      max-width: 1200px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      margin: 0 auto;
      padding: 0.8rem 1.3rem;
      cursor: pointer;

      &:hover {
        color: #FF3F42
      }

      @media #{$phone} {
        padding: 0;
        padding-right: 1rem;
        margin: 0;

        position: absolute;
        top: 2.5rem;
        right: 0;

        font-size: 0.9rem;
        background-color: white;
      }

      .alert_circle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
        width: 1rem;
        height: 1rem;

        background: #ff3f42;
        border: 1px solid #fff;
        border-radius: 50rem;

        font-size: 9px;
        font-weight: 700;
        color: white;

        @media #{$phone} {
          position: absolute;
          margin: 0;
          top: -0.5rem;
          right: 5rem;
        }
      }
    }
  }

  .header_main {
    display: flex;
    justify-content: center;
    padding: 1rem 0 2.5rem;

    border-bottom: 2px solid #f5f5f5;

    @media #{$phone} {
      justify-content: start;
      padding: 0;
      padding-left: 1.5rem;
      border: none;
    }

    img {
      width: 135px;
      cursor: pointer;

      @media #{$phone} {
        width: 100px;
      }
    }
  }

  .cart_title {
    margin: 35px 0 20px;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    @media #{$phone} {
      margin-bottom: -20px;
    }
  }
}