@import './reset.scss';

html,
body {
  width: 100%;
  height: 100%;
  font-family: Montserrat, Apple SD Gothic Neo, -apple-system, BlinkMacSystemFont, NanumBarunGothic, Malgun Gothic,
    Dotum, sans-serif;
  font-size: 13px;
  color: #262626;
  line-height: 1.2;

}

#root {
  width: 100%;
  height: 100%;
}